<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-info text-white justify-content-end " style="background-color: #e3f2fd;">
  <!-- Navbar content -->

   	<a th:href ="@{/loginUser}" class="btn btn-light navbar-brand">Logout</a>
</nav>
<div class ="container">

		<div class = "row" style="padding-left:24em!important">
			<h2> Welcome <span th:text="${userName}">userName</span></h2>
		</div>
		<div class="row" style="margin-top:-2.5rem;padding-left:47em!important">
			<img th:src="@{images/img1.png}" alt="Media Resource" class="ml-2 mt-1" style="margin-left: -33.5rem!important; margin-top: 3.25rem!important;">
		
		</div>
		<div class = "row" style="margin-top:2rem;padding-left:25em!important">
				<form th:action="@{/viewStudent}" method="get" >
				  <div class="form-group">
				    <label for="enteredName">Please enter your name to view details</label>
				    <input type="text" class="form-control" id="enteredName" placeholder="Enter username">
				  </div>
	
				  <button type="submit" class="btn btn-success">Submit</button>
				</form>
		</div>

</div>

</body>
</html>