@charset "ISO-8859-1";
body{
	
	background-color: #d5e3e2;
	text-align: center;
	color:#074778 ;
	margin-top: 15%;
}
.error-body{
	
	color:red;
}
.user-body{
	
	color:#483D8B;
}

.login-body{
	
	color:#483D8B;
	text-align: center;
	margin-top: 15%;
}

table, th, td {
  border: 1px solid;
  vertical-align: top;
    margin-left: 15%;
    margin-top: 1%;
    margin-right: 29%;
  
}
.tableView{
	display:none !important;
	margin-top:20px;
}

.login-body{
	background-color: #E5FDFA ;
	color:#074778  ;
}
.register-body{
	
	background-color: #d5e3e2;
	text-align: center;
	color:#074778 ;
	margin-top: 15%;
}
.btn{
	background-color: white; 
  	color: black; 
  	border: 1px solid #008CBA;
  	text-decoration: none;
  	display: inline-block;
}
.btn2{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding: 10px 16px;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a:hover, a:active,.btn2:hover,.btn:hover {
  background-color: #008CBA;
}
.a-link, .a-link:link,a-link:visited{

  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding: 14px 25px;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
